<html>
    <head>
        <title>
           
        </title>
        <link rel="stylesheet" href="lib.css">
        </head>
        <body>
            
            <div class="box">
                <form>
                    <div class="signinlabel">
                        <h1>sign in</h1>
                    </div>
            <div class ="us">         
            <input type="username"class="input"id="email"placeholder="enter your Email"><br>
            </div>
            <div class="ps">
            <input type="password"class="input"id="pswd"placeholder="your password"><br>
            </div>
            <div class="labelfo">
                <label for ="forgot"><a href="#">forgot password?</a></label>
            </div>
            <div class =bu>
            <input type="button" class="input_field" value="sign in"onclick="checkData()"><br>
            </div>
            <div class="labelfor">
                <p>-----or-----</p>
            <label for ="acc">Don't have an account? <a href="signup.html">Sign Up</a></label>
            </div>
                </form>
            </div>
            <div id="root1"></div>
            <script src = "library.js"></script>
            </body>
 </html>   