<html>
    <head>
        <title>
           
        </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"content="IE=edge">
        <meta name="viewport"content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="lib.css">
        </head>
    <body>
        <div class="boxup">
    <form>
        <div class="signuplabel">
            <h1>sign up</h1>
        </div>

<div class ="ussignup">  

<input type="text"class="input" id="email"placeholder="Enter your Email"><br>
</div>
<div class="ussignup">
    <input type="password"class="input" id ="pswd"placeholder="Enter password"><br>
        </div>
        <div class="ussignup">
            <input type="password"class="input"id="conpswd"placeholder="confim password"><br>
        </div>
 
<div class =signupbu>
<input type="button" class="input_field" value="sign up"onclick="addData()"><br>
</div>
<div class="labelfor">
    <label for ="acc">Already a user? <a href="library.html">login</a></label>
</div>
    </form>
        </div>
          <script src = "library.js"></script>
          
    </body>
</html>